<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <style>
        .signup-12{
            margin-left: 10px;
            margin-top: 20px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    {% block content %}
      <h2>Login</h2>
      <form action="" method="post">
        {{ form }}
        {% csrf_token %}
        <button type="submit">Login</button>
      </form>
    {% endblock %}
    <br>
    <br>
    <br>
    <br>
    <a class="signup-12" href="{% url 'contact:signup' %}">Signup in my site</a>
</body>
</html>